<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataSTX.Properties.Settings.stxConnectionString" connectionString="server=127.0.0.1;user id=root;persistsecurityinfo=True;database=stx"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>